/* src/ProductCard.css */
.product-card {
    position: relative;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    box-shadow: 0 0 10px #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;
    min-height: 370px;
    max-height: 370px;
}

.product-image {
    position: relative;
}

.product-image img {
    max-width: 100%;
    height: 250px;
    object-fit: contain;
    filter: grayscale(0%);
    border: 0.6px solid #e0e0e0;
    border-radius: 5px;

}

.out-of-stock-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-info {
    text-align: left;
}

.product-name {
    font-size: 1.1rem;
    max-width: 130px;
    color: blue;
}

.product-price {
    font-size: 0.9rem;
    color: black;
}

.out-of-stock {
    color: rgb(180, 180, 180);
    font-weight: light;
}

.add-to-cart-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;

}

.add-to-cart-button:hover {
    background-color: #218838;
}

.product-card:hover .add-to-cart-button {
    display: flex;
}