.overlay-bg {
    position: fixed;
    top: 66px; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.cart-overlay {
    position: fixed;
    top: 60px;
    right: 4.5%;
    width: 500px;
    max-height: calc(100vh - 80px);
    /* Adjusted to fit within viewport */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow-y: auto;
    /* Added to enable vertical scrolling */
    z-index: 1000;
}

.cart-overlay-content {
    padding: 18px;
    max-height: calc(100vh - 140px);
    /* Adjusted to leave space for header and footer */
    overflow-y: auto;
    /* Added to enable scrolling */
}

.close-btn {
    position: absolute;
    top: -6px;
    right: 25px;
    font-size: 40px;
    cursor: pointer;
    color: #333;
}

.main-bag-text {
    font-weight: 600;
}

.cart-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cart-items li {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-items li:last-child {
    border-bottom: none;
}

.checkout-btn {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #5ece7b;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    text-transform: uppercase;
}

.checkout-btn:hover {
    background-color: #218838;
}

.checkout-btn.disabled {
    background-color: grey;
    cursor: not-allowed;
    opacity: 0.6;
}

.item-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-image img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.quantity-btns {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantity-btn {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 5px 10px;
    cursor: pointer;
}

.item-attributes {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.attribute-name {
    font-weight: 500;
}

.color-attribute,
.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.color-attribute {
    border: 1px solid #ccc;
    /* Add border for color attribute */
}

.color-box {
    border: 1px solid transparent;
    /* Example border for color boxes */
    cursor: pointer;
}

.color-box.selected {
    border-color: #333;
    /* Example styling for selected color box */
}

.item-attributes {
    margin-bottom: 10px;
}

.attribute-value-box {
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #ccc;
    /* Example border for attribute value box */
    margin-right: 5px;
    font-size: 16px;
}

.selected {
    border: 2px solid rgb(255, 0, 0); 
}

.selected-attribute-value-box {
    color: white;
    background-color: black;
}