header {
    top: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px 15px;
    position: static;
    width: 100%;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
    font-size: 0.9rem;
}

nav ul li:hover {
    cursor: pointer;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.cart-icon {
    position: relative;
    cursor: pointer;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -8px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 10px;
}

.active-link {
    font-weight: 600;
    color: #5ece7b;
    border-bottom: 2px solid #5ece7b;
}

@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }

    .logo {
        font-size: 1rem;
    }

    .login-signup button {
        margin-left: 0;
    }
}